.SideBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid gray; /* add line to the right side*/
}

.Icons a {
    display: flex; /* need for alignment of text and images */
    align-items: center;   /* vertical alignment */
    gap: 12px;             /* space between icon and text */
    padding-top: 10px;
}
.sideBarLogo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}

.Icons h3 {
    color: white;
}


.post {
    background-color: aliceblue;
    color: black;
    width: 200px;
    border-radius: 50px; /* Make button more oval */
}


.myAccount {
    background-color: black;
    position: fixed;
    bottom: 0;
}

.myAccount:hover {
    background-color: dimgrey;
    border: none;
    border-radius: 50px;
}

.profilePicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.chatLogo {
    width: 60px;
}

.pfp, .AccountName {
    display: inline-block; /* makes child divs side by side */
}