.SideBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.Icons a {
    display: flex; /* need for alignment of text and images */
    align-items: center;   /* vertical alignment */
    gap: 12px;             /* space between icon and text */
    padding-top: 10px;
}
.sideBarLogo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}

.Icons h3 {
    color: white;
}