.signInBody {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInBox {
  display: flex;
  align-items: flex-start;
  margin: 0 50px;
  width: 80vw;
  height: 200px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
}

.signInLogo {
  height: auto;
  width: 300px;
}

.signInRightSide{
  display: flex;
  flex-direction: column; /*put text and sign in/login button vertically */
  align-items: flex-end; /* moves items to the right */
  text-align: right;
  justify-content: flex-start;
  margin-top: -200px;
}

.signInText1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.signInText2 {
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column; /* makes items vertical */
  gap: 10px; /* adds space between each item */
}

